<script>

	
	$(document).ready(function() {
		

		
		//lorsqu'on clique sur un élément de type input, on affiche son élément cible	
		$(':input').click(function()
						{												
						var cible = $(this).attr('cible') //afficher les attributs cible
						if (cible != ""){
							$("."+cible).toggle('slow')
							}

						});

		

		$("#soumission").click(function(cible) {


			function ecriture(){

					//remise à zero des rubriques 
					$(".rubrique").each(function(){

						$(this).text("")
						$(this).hide()
					}

						)

					//on implémente les rubriques en fonction des items cochés
					$(':input').each(function() {
							cl = $(this).attr("categorie")
							rubrique = $("#"+"rubrique"+cl)
								if ($(this).is(':checked')){
									rubrique.append("\n"+$(this).attr('id')+$(this).text());
									}
						   			else if ($(this).attr('defaut') != "" )
						   			{	
						   			rubrique.append("\n"+ $(this).attr('defaut')+$(this).text());
									}
									

								});

							}
							
			ecriture()				


			// on récupère le texte des rubriques implémentés
			texteFinal=""
			$(".rubrique").each(function(){
				classParent = $(this).attr("classParent")
				if ($("."+ classParent).is(":visible")){
				texteFinal = texteFinal + "\n\n" + $(this).attr("titre")+ $(this).text()
				}
				});
					
					var toCopy  = texteFinal

					
			        copyToClipboard(toCopy, id="#textarea");
  			   			 						
				

				});
		});
	</script>
