


<div class="input-field col s12">
    <select id="{{id}}">
      	
       <option value="" disabled selected>LOCALISATION</option>	

      <optgroup label="DROITE">

      <option value="LSD">poumon droit (apex)</option>
      <option value="LID">poumon droit (base)</option>
      <option value="LM"> poumon droit (mi-champ)</option>
      </optgroup>

      <optgroup label="GAUCHE">
      <option value="LSG">poumon gauche (apex)</option>
      <option value="LIG">poumon gauche (base)</option>
      <option value="L"> poumon gauche (mi-champ)</option>
      </optgroup>

    </select>

 </div>
