{% extends "radiographie.html" %}
{% load static %}


{% block contenu %}
	


    {% for t in liste_des_titres %}
	    <ul class="collapsible">
	        <li>
	        	{% if t.optionnel == "oui" %}
					<div class="collapsible-header optionnel {{t.cl}}"  id="{{t.intitule}}"><i class="material-icons">filter_drama</i>{{t.intitule}}</div>
				{% else %}
	        		<div class="collapsible-header {{t.cl}}"  id="{{t.intitule}}"><i class="material-icons">filter_drama</i>{{t.intitule}}</div>
	        	{% endif %}
	        	<div class="collapsible-body">
	        	{% for e in liste_des_items %}
	        		{% if e.titre_item == t.intitule %}
						   	{% include "html/formulaire_generique.html" with element_a_cocher=e.label_element id=e.formule categorie=e.categorie defaut=e.defaut optionnel=e.optionnel %}
					{% endif %}
				{% endfor %}
				</div>
	        </li>
		</ul>
	{% endfor %}


	<!--bouton de soumission) -->
	<div class="section"> </div>

	<button class="btn waves-effect waves-light blue toCopy" type="submit" name="action" id="soumission" >  CR
    <i class="material-icons right">send</i>
  </button>

  	<TEXTAREA id="textarea"></TEXTAREA>

 
{% endblock contenu %}


{% block regions_anatomiques %}
{% endblock regions_anatomiques %}


{% block autre_script %}


	<script>
	$(document).ready(function() {
		
		$('.optionnel').hide()	
		$('[id="Bilan de dyspnée"]').click(function()
						{
						$(".ELEMENTS_SPECIFIQUES_DE_DYSPNEE").toggle()
						});
		
		
		$("#soumission").click(function() {

		//fonction retournant un paragraphe, selon les cases cochées dans ce paragraphe
			function paragraphe(base, cat, defaut){		
												var liste = [];
													$(':input[categorie='+cat+']').each(function() {

														if ($(this).is(':checked'))
															{liste.push($(this).attr('id'));}
													   	else 
													   		{liste.push($(this).attr('defaut'));}
													   	resultat = base  
														for (l in liste) {resultat = resultat + "\n" + liste[l]}

													  });

												return resultat

											  
												}

		//fonction retournant la conclusion, selon le texte écrit dans ce paragraphe:
			function concl(base, cat, defaut){
												var liste = [];
												$(':input[type="text"][categorie='+cat+']').each(function() {liste.push($(this).text());});
												resultat = base  
												for (l in liste) {resultat = resultat + " " + liste[l]} 
												return resultat   
												}								


				
						
				//INDICATION:	
					indication = paragraphe(base="", cat="indication", defaut="Bilan de ...")+ "\n"		

				//TECHNIQUE: 	
					technique = paragraphe(base="", cat="technique", defaut="Radiographie pulmonaire de face")+ "\n"		
				
				//RESULTAT:
					//spécifique dyspnée: poumons:
					if ($(".ELEMENTS_SPECIFIQUES_DE_DYSPNEE").is(":visible"))
						{resultats_dyspnee = paragraphe(base="", cat="resultat_dyspnee", defaut="Concernant la dyspnée:")+ "\n"
						resultats_autres = ""}
					else {
						resultats_dyspnee =""
						resultats_autres = paragraphe(base="", cat="resultat_autre", defaut="Concernant la dyspnée:")+ "\n"}

					corps = resultats_dyspnee + resultats_autres


				//CONCLUSION:
					conclusion = concl(base="", cat="conclusion")+ "\n"	

			
					texte_final= "INDICATION:\n" + indication + "TECHNIQUE:\n" + technique + "RESULTATS:\n" + corps
					var toCopy  = texte_final

					function copyToClipboard(element) {
									        textRange = $('#textarea');
									        
									        textRange.html(element)
									        //$(textRange).focus()
									        $(textRange).select();
									        document.execCommand("Copy");
									   			 }

			        copyToClipboard(toCopy);
  			   			 
										
					alert(texte_final )	
									

									});




				







		});
	</script>
{% endblock autre_script%}